

* {
    border: 2px solid #ff980073;
}

html {
    border: 3px solid red;

}


body {
    border: 3px solid blue;

    font-family: sans-serif;
    font-size: 1 rem;

    width: 1000px;

    margin: 0 auto;

    background-color: lightgoldenrodyellow;


}

h1 {
    text-align: center;
}

img {

    width: 500px;
    height: auto;

    display: block;
    margin: 0 auto;
}


h2 {
    text-align: center;
}

p {
    text-align: center;
}



.container {

    padding: 1rem;
    width: 70%;
    margin: 0 auto;

    background-color: wheat;


}

h3 {
    background-color: lightgoldenrodyellow;
}



/* 




*/